.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

input{
  outline: none;
}

.error{
  border:1px solid red;
}

.error-message{
  color: red;
}

.button{
  background-color: lightgreen;
}